main {
    width: 880px;
    margin: 50px auto 200px;
  
    .contact-info p {
      margin-top: 0;
  
      span {
        text-decoration: underline;
      }
    }
  
    h1 {
      text-align: center;
    }
  
    h2 {
      margin-bottom: 0;
      font-size: 1.5em;
    }
  
    .Adress-map iframe {
      border: 1px solid var(--dark-background) !important;
    }
  
    .contact-form {
      opacity: 0.1;
      transition: opacity 0.9s;
      margin-top: 20px;
  
      label {
        display: block;
        margin-top: 10px;
  
        input[type="text"] {
          width: 300px;
          height: 20px;
          outline: 0;
          border: 2px solid var(--dark-background);
          border-radius: 5px;
          padding: 0 5px;
  
          &:focus {
            outline: 2px solid var(--gray-background);
            border: 2px solid var(--white-background);
  
            &::placeholder {
              font-size: 1.2em;
              color: var(--dark-background);
              opacity: 0.7;
            }
  
            textarea {
              width: 310px;
              height: 200px;
              border-radius: 5px;
              resize: none;
              border: 2px solid var(--dark-background);
  
              input[type="submit"] {
                width: 200px;
                height: 40px;
                display: block;
                color: var(--white-background);
                background-color: var(--red-background);
                font-size: 1.5em;
                border-radius: 5px;
                margin-top: 20px;
                border: 2px solid var(--dark-background);
                font-family: Midroba;
                cursor: pointer;
  
                &:hover {
                  background-color: var(--dark-background);
  
                  &:hover input[type="text"] {
                    height: 35px;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  
    h1 {
      text-shadow: 0px 4px 1px #d00000;
    }
  
    p,
    span {
      text-shadow: 0px 1px 1px #d00000;
    }
  
    a {
      transition: transform 1s;
      display: inline;
  
      &:hover {
        transform: translateX(50px);
      }
    }
  }
  