main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1300px;
    width: 800px;
    margin: 0px 390px auto;
}
main img {
    width: 40%;
    margin: 0 5px 5px 0;
    justify-content: flex-start;
}
main img:hover {
    transform: scale(1.5);
    filter: brightness(50%);
    transition: transform 0.3s, box-shadow 0.3s;
}
h1 {
    text-align: center;
    text-shadow: 0px 4px 1px #e85d04;
}
p {
    text-shadow: 0px 1px 1px #e85d04;
}
